<% layout('/layouts/boilerplate') %> 
    <h1><%= camp.title%> </h1>
    <p><%= camp.location %> </p>
    <img src="<%= camp.img %>"alt="">
    <p><%=camp.description%></p>
    <p><a href="/campgrounds/">All Campgrounds</a></p>
    <p><a href="/campgrounds/<%=camp.id%>/edit">Edit</a></p>
    <form action="/campgrounds/<%=camp.id%>?_method=DELETE" method="POST">
    <button>Delete</button>
    </form>
